.list {
  display: grid;
  @include mq.mq($until: tablet) {
    gap: 12px;
  }
  @include mq.mq($from: tablet) {
    gap: 24px;
  }
}

.item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 4px #3c4043;
  display: grid;
  gap: 8px;
  grid-template: 1fr auto / 1fr;
  padding: 12px 12px 8px;
}

.cardWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.card {
  align-items: center;
  aspect-ratio: 63 / 88;
  background: #fff;
  border: 2px solid #3c4043;
  border-radius: 12px;
  /* stylelint-disable-next-line csstree/validator */
  box-shadow: -4px 4px 4px rgba(#3c4043, 0.25);
  display: flex;
  font-size: 2.4rem;
  font-size: 4rem;
  justify-content: center;
  padding: 12px;
  position: absolute;
}

@keyframes SKELETON {
  0%,
  100% {
    /* stylelint-disable-next-line csstree/validator */
    background: rgba(#3c4043, 0.05);
  }

  50% {
    /* stylelint-disable-next-line csstree/validator */
    background: rgba(#3c4043, 0.1);
  }
}

.loading {
  animation: SKELETON 1.5s infinite linear;
  border: 0;
  box-shadow: none;
}

.nameBlock {
  align-items: center;
  display: flex;
  font-size: 2rem;
  gap: 8px;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}
