html {
  @include mq.mq($until: tablet) {
    font-size: 56.25%;
  }
  @include mq.mq($from: tablet) {
    font-size: 62.5%;
  }
}

body {
  background: #f9fbfc;
  color: #3c4043;
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 1.5;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  min-width: 96px;
}

ol,
ul {
  list-style: none;
}

.swal2-popup {
  font-size: inherit !important;
}

.szh-menu-button {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 48px;
  transition: 120ms;
}

.szh-menu-button:disabled {
  opacity: 0.25;
}
