.wrapper {
  align-items: center;
  display: flex;
  height: 100dvh;
  justify-content: center;
  @include mq.mq($until: tablet) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include mq.mq($from: tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.main {
  background: #fff;
  border: 2px solid #3c4043;
  border-radius: 24px;
  /* stylelint-disable-next-line csstree/validator */
  box-shadow: -8px 8px 8px rgba(#3c4043, 0.25);
  display: grid;
  gap: 36px;
  justify-items: center;
  padding: 60px 0 84px;
  text-align: center;
  /* stylelint-disable-next-line csstree/validator */
  width: min(100%, 960px);
}

.heading1 {
  /* stylelint-disable-next-line csstree/validator */
  font-size: clamp(4.8rem, 10dvw, 9.6rem);
}

.buttonsWrapper {
  align-items: center;
  display: grid;
  padding-left: 24px;
  padding-right: 24px;
  @include mq.mq($until: tablet) {
    gap: 12px;
    grid-template-columns: minmax(100%, 360px);
  }
  @include mq.mq($from: tablet) {
    gap: 24px;
    grid-template-columns: 240px auto 360px;
  }
}

.button {
  background: #1a73e8;
  border-radius: 4px;
  color: #fff;
  height: 48px;
  padding: 0 12px;
  // transition: 120ms;
}

/* stylelint-disable-next-line block-no-empty */
.separator {
  @include mq.mq($until: tablet) {
    display: none;
  }
}

.existingBlock {
  display: grid;
  gap: 12px;
  grid-template: auto / 1fr 96px;
}

.input {
  background: #fff;
  border: 1px solid #3c4043;
  border-radius: 4px;
  height: 48px;
  padding: 0 12px;
  width: 100%;
}
