.wrapper {
  display: grid;
  grid-template: auto 1fr / 1fr;
  height: 100dvh;
}

.controlBlock {
  box-shadow: 0 0 4px #3c4043;
  display: grid;
}

.controlInner,
.main {
  justify-self: center;
  padding-left: 24px;
  padding-right: 24px;
  /* stylelint-disable-next-line csstree/validator */
  width: min(100%, 1280px);
}

.controlInner {
  padding-bottom: 12px;
  padding-top: 12px;
}

.main {
  display: grid;
  grid-template: 1fr 15dvh / 1fr;
}

.boardBlock {
  display: grid;
  padding: 24px 0;
}
